.btn {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  padding: 10px 13px;
  font-size: 14px;
  line-height: 1.45;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSecondary {
  background-color: var(--accent-color);
}
