.pagination_input {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: clamp(10px, 5vw, 60px);
  top: 182px;
  z-index: 2;
}

.pagination_input * {
  display: inline;
}
