:root {
  --primary-color: dodgerblue;
  --accent-color: salmon;
  --grey-200: #d2d6dc;
  --grey-400: #6b7280;
  --grey-600: #373737;
}

#app,
#portal {
  position: relative;
}

button:focus {
  outline: default;
}

#app {
  z-index: 1;
}

#portal {
  z-index: 2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  color: var(--grey-400);
  font-size: 14px;
  min-height: 100vh;
}

main {
  padding-top: 100px;
  padding-bottom: 68px;
}

h1 {
  color: var(--grey-600);
}

nav h1 {
  margin: 10px;
}

button:hover {
  background-image: linear-gradient(rgb(255 255 255/10%) 0 0);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 clamp(10px, 5vw, 60px) 0 clamp(10px, 5vw, 60px);
}

label,
legend {
  display: block;
  margin-top: 0.7rem;
  margin-bottom: 7px;
  font-weight: bold;
  color: var(--grey-400);
}

fieldset {
  border: 1px solid var(--grey-200);
  border-radius: 5px;
}

form {
  margin-bottom: 60px;
  width: 380px;
  background-color: #fff;
  padding: 20px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px var(--grey-200);
}

input,
select {
  color: var(--grey-600);
  width: 100%;
  outline: none;
  background-color: #fff;
  border: 1px solid var(--grey-200);
  border-radius: 5px;
  padding: 10px 13px;
  font-size: 14px;
  line-height: 1.45;
}

form input:focus,
form select:focus {
  border: 1px solid var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  min-width: 100px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 13px;
  font-size: 14px;
  line-height: 1.45;
}

.btn-secondary {
  background-color: var(--accent-color);
}

.address {
  margin-top: 10px;
}

.gridjs-th-content {
  margin-top: 3px;
}

.error-message {
  font-size: 11px;
  color: var(--accent-color);
}

button:disabled,
button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.error,
.error:focus {
  border: 1px solid var(--accent-color) !important;
}

button i {
  margin-right: 10px;
}
